.product-detail-container {
  height: 95vh; /* Full viewport height */
  padding: 20px;
  margin-top: 80px; /* Added margin to prevent overlap with the navbar */
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Light blue gradient background */
}

.product-detail-box {
  max-width: 700px; /* Limit the width of the content */
}

.product-image {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
